* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pad-zero {
    margin-top: 100px;
}

.pad-top {
    padding-top: 80px;
    margin-top: 100px;
}

.how-works-container {
    width: 96%;
    margin: auto;
}

.how-works1 {
    text-align: center;
}

.how-works1 h1 {
    font-size: 60px;
    color: #303066;
}

.how-works1 p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.6;
    color: #7373aa;
}

.how-works-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 80px;
}

.how-works-gr-content img {
    width: 250px;
}

.number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7979ff;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #fff;

}

.how-works-gr-content h3 {
    color: #303066;
}

.how-works-gr-content p {
    font-size: 16px;
}

.span-con {
    margin-top: -50px;
}

.height {
    width: 2px;
    height: 150px;
    background-color: #7979ff;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.links {
    text-align: center;
}

.links-h1 h1 {
    font-size: 44px;
    color: #303066;
}

.links-h1 p {
    font-size: 20px;
    color: #7373aa;
    line-height: 1.6;
    margin-top: 20px;
}

.links-ul {
    margin-top: 100px;
}

.links-ul li {
    list-style-type: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
}

.links-ul li a {
    padding: 14px 30px;
    border-radius: 30px;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 0 0 4px rgb(202, 202, 202);
    text-decoration: none;
    color: #303066;
    font-weight: 500;
    align-items: center;
    display: flex;
    transition: all .4s ease;
}

.links-ul li a i {
    font-size: 25px;
    margin-right: 5px;
    color: #7373aa;
}

.links-ul li a:hover {
    color: #fff;
    background-color: #000;
}

.join {
    width: 100%;
    overflow: hidden;
}

.join img {
    /* transform: scale(1.5); */
    color: #0072b1;
}

.community-center {
    margin-top: -5px;
    text-align: center;
    background-color: #7979ff;
}

.community-center h1 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 20px;
}

.fpp {
    font-size: 20px;
    color: #fff;
    margin-bottom: 50px;
}

.use-a {
    text-decoration: none;
    padding: 15px 35px;
    background-color: #fff;
    border-radius: 35px;
    color: #7979ff;
    font-size: 20px;
    font-weight: 500;
    transition: all .4s ease;
}

.use-a:hover {
    background-color: rgb(209, 209, 209);
}

.num {
    margin-top: 30px;
    color: #fff;
}

.footer {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer ul {
    display: flex;
}

.footer ul li {
    margin: 15px;
    list-style-type: none;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.footer ul li a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all .4s ease;
}

.footer ul li a:hover::before {
    width: 100%;
}

.copy {
    color: #414191;
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 70px;
}


@media (max-width: 768px) {
    .how-works1 h1 {
        font-size: 40px;
    }

    .how-works1 p {
        font-size: 18px;
    }

    .how-works-grid {
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
    }

    .how-works-gr-content {
        margin-bottom: 80px;
    }

    .links-h1 h1 {
        font-size: 35px;
    }
}

@media (max-width: 568px) {
    .how-works-gr-content img {
        width: 180px;
    }

    .links-h1 h1 {
        font-size: 30px;
    }
}